<div
  class="justify-between hidden md:flex w-[400px] sm:w-[600px] bg-zinc-950 border-b border-zinc-700 p-2 rounded-t shadow-md"
>
  <div
    class="inline-flex items-center rounded-md bg-zinc-900 space-x-1 px-2 m-1"
  >
    <label for="search" class="h-full flex items-center">
      <mat-icon class="text-zinc-400"> search </mat-icon>
    </label>
    <input
      id="search"
      name="search"
      [(ngModel)]="searchQuery"
      (ngModelChange)="applyFilters()"
      type="text"
      class="px-4 py-2 bg-zinc-900 text-white active:outline-none outline-none"
      placeholder="search"
    />
  </div>
  <div
    class="inline-flex items-center rounded-md bg-zinc-900 space-x-1 px-2 m-1"
  >
    <select
      name="filter"
      id="filter"
      [(ngModel)]="selectedType"
      (ngModelChange)="applyFilters()"
      class="px-4 py-2 bg-zinc-900 text-white active:outline-none outline-none"
    >
      <option value="">All</option>
      <option *ngFor="let type of types" [value]="type">{{ type }}</option>
    </select>
  </div>
</div>
<div class="overflow-auto sm:w-[600px] max-h-[250px] rounded-b-md shadow-md">
  <table class="text-gray-100 text-center w-full">
    <thead>
      <tr class="bg-zinc-950">
        <th class="px-2 py-1 text-xs sm:px-4 sm:py-2 sm:text-sm">Instrument</th>
        <th
          class="px-2 py-1 text-xs sm:px-4 sm:py-2 sm:text-sm hidden sm:inline-block"
        >
          Description
        </th>
        <th class="px-2 py-1 text-xs sm:px-4 sm:py-2 sm:text-sm">Type</th>
        <th class="px-2 py-1 text-xs sm:px-4 sm:py-2 sm:text-sm">TE</th>
        <th class="px-2 py-1 text-xs sm:px-4 sm:py-2 sm:text-sm">Market DE</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let instrument of filteredInstruments"
        class="hover:bg-zinc-800 cursor-pointer text-xs sm:text-sm"
        [ngClass]="{
          'bg-zinc-900': instrument.id !== selectedInstrumentId,
          'bg-blue-800 bg-opacity-45 border-1 border-zinc-700':
            instrument.id === selectedInstrumentId
        }"
        (click)="selectInstrument(instrument)"
      >
        <td class="px-2 py-1">{{ instrument.name }}</td>
        <td class="px-2 py-1 hidden sm:inline-block">
          {{ instrument.description || "-" }}
        </td>
        <td class="px-2 py-1">{{ instrument.type }}</td>
        <td class="px-2 py-1">{{ instrument.tradingExchange }}</td>
        <td class="px-2 py-1">{{ instrument.marketDataExchange }}</td>
      </tr>
    </tbody>
  </table>
</div>
